<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="{{ meta.lang }}">
<head>
<title>{{ title }} – {{ meta.title }}</title>
{{#each assets.css}}
<link href="{{relative ../filename this }}" type="text/css" rel="stylesheet" />
{{/each}}
{{#each assets.js}}
<script src="{{relative ../filename this }}" type="application/javascript"></script>
{{/each}}
</head>
<body class="chapterBody {{ id }}" id="{{ id }}">
<div class="chapter" id="chapter">{{{ html }}}</div>
</body>
</html>