<!DOCTYPE HTML>
<html lang="{{ meta.lang }}">
<head>
<title>{{ title }} – {{ meta.title }}</title>
{{#if meta.specifiedCss }}{{#each css}}
<link href="{{relative ../filename this }}" type="text/css" rel="stylesheet">
{{/each}}{{else}}
{{#each assets.css}}
<link href="{{relative ../filename this }}" type="text/css" rel="stylesheet">
{{/each}}{{/if}}{{#if meta.specifiedJs }}{{#each js}}
<script src="{{relative ../filename this }}" type="application/javascript"></script>
{{/each}}{{else}}
{{#each assets.js}}
<script src="{{relative ../filename this }}" type="application/javascript"></script>
{{/each}}{{/if}}{{#each links}}
<link href="{{ this.href }}" type="{{ this.type }}" rel="{{ this.rel }}"{{#if this.hreflang }} hreflang="{{ this.hreflang }}"{{/if}}{{#if this.title }} title="{{ this.title }}"{{/if}} />
{{/each}}
</head>
<body class="chapterBody {{ id }}" id="{{ id }}">
<div class="chapter" id="chapter">{{{ html }}}</div>
</body>
</html>