<!DOCTYPE HTML>
<html lang="{{ meta.lang }}">
<head>
<title>{{ title }} – {{ meta.title }}</title>
{{#if meta.specifiedCss }}{{#each css}}
<link href="{{relative ../filename this }}" type="text/css" rel="stylesheet">
{{/each}}{{else}}
{{#each assets.css}}
<link href="{{relative ../filename this }}" type="text/css" rel="stylesheet">
{{/each}}{{/if}}{{#if meta.specifiedJs }}{{#each js}}
<script src="{{relative ../filename this }}" type="application/javascript"></script>
{{/each}}{{else}}
{{#each assets.js}}
<script src="{{relative ../filename this }}" type="application/javascript"></script>
{{/each}}{{/if}}{{#each links}}
<link href="{{ this.href }}" type="{{ this.type }}" rel="{{ this.rel }}"{{#if this.hreflang }} hreflang="{{ this.hreflang }}"{{/if}}{{#if this.title }} title="{{ this.title }}"{{/if}} />
{{/each}}
<style type="text/css">img{ max-width: 100%; }</style>
</head>
<body class="cover">
<div id="cover-image">
<img src="{{ meta.cover }}" alt="Cover image for {{ meta.title }}" />
</div>
</body>
</html>