<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="{{ meta.lang }}">
<head>
<title>Table of Contents – {{ meta.title }}</title>
{{#each assets.css}}
<link href="{{ this }}" type="text/css" rel="stylesheet" />
{{/each}}
</head>
<body class="nav">
<h1>Table of Contents</h1>
<nav epub:type="toc" id="toc" class="toc h-toc">
<ol>
    {{{ navList }}}
</ol>
</nav>
{{#if meta.copyrightStatement}}
<p class="copyright">{{ meta.copyrightStatement }}</p>
{{else}}
<p class="copyright">Copyright &#xa9; {{ meta.copyrightYear }} {{ meta.author }} {{#if meta.author2 }}and {{ meta.author2 }}{{/if}}</p>
{{/if}}
</body>
</html>