<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="{{ meta.lang }}">
<head>
<title>{{ meta.title }}</title>
{{#each assets.css}}
<link href="{{ this }}" type="text/css" rel="stylesheet" />
{{/each}}
</head>
<body class="titletoc">
<h1>{{ meta.title }}</h1>
<h2>{{ meta.author }}</h2>
{{#if meta.author2 }}<h2>{{ meta.author2 }}</h2>{{/if}}
<nav epub:type="toc" id="toc" class="toc h-toc">
<ol>
	{{#each outline}}
	<li class="tocitem {{ this.id }}{{#if majornavitem}} majornavitem{{/if}}" id="toc-{{ this.id }}"><a href="{{ this.filename }}">{{ this.title }}</a></li>
    {{/each}}
</ol>
</nav>
{{#if meta.copyrightStatement}}
<p class="copyright">{{ meta.copyrightStatement }}</p>
{{else}}
<p class="copyright">Copyright &#xa9; {{ meta.copyrightYear }} {{ meta.author }} {{#if meta.author2 }}and {{ meta.author2 }}{{/if}}</p>
{{/if}}
</body>
</html>